/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #228b22;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid #228b22;
  }
  
  .wrapper {
    font-family: segoe UI;
    display: flex;
    justify-content: space-evenly;
  }
  
  .wrapper > span {
    font-size: 17px;
    font-weight: 500;
    color: #228b22;
  }
  
  .wrapper > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 15px;
  }
  
  .wrapper > ul > li > a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5 ease-out;
  }
  
  .wrapper > ul > li > a:hover {
    color: #228b22;
  }
  
  .wrapper > button {
    padding: 5px 15px;
    color: #fff;
    border-width: 1px;
    border-radius: 15px;
    background-color: #228b22;
  }
  
  .faq-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1; 
  }
  

  .faq-item {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .faq-question {
    background-color: #f1f1f1;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #e2e2e2;
  }
  
  .faq-answer {
    padding: 15px;
    font-size: 16px;
    color: #555;
    display: none;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  .faq-item.active .faq-question {
    background-color: #d1e7dd; 
  }
  
  .faq-answer {
    transition: all 0.3s ease;
  }
  
  /* Footer styling */
  footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #228b22;
    margin-top: auto; 
  }
  
  footer p {
    text-align: center;
    color: #fff;
    font-family: segoe UI;
    font-size: 14px;
  }
  